#buyer-portal{
    text-align: center;
}
.btn {
	box-shadow: 0px 10px 14px -7px #3b3a3b;
	background-color:#313233;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
    float:none;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
}

.btn:hover {
	background-color:#292729;
}
.btn:active {
	top:1px;
}

#message{
	text-align: center;
}

.alert {
	
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
	border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

