body {
    margin: 0;
    background-color: aliceblue;
}

 /*for currentlistings.hbs*/
.card {
    width: 200px;
    height: 400px;
}
.cover-picture {
    width: 100%;
    height: 200px;
}

.card-columns {
    display: inline-block;
}