.std-btn {
    background-color: #444444;
    border:0;
    box-shadow: 0px 10px 14px -7px #3b3a3b;
    color: white;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 20px 150px;
    top:100%;
    font-size:20px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
}
.std-btn:focus{
    outline:0;
    background-color: #111111;
}
.std-btn:hover{
    background-color: #111111;
}
.ins-btn{
    border:0;
    background-color: #444444;
    box-shadow: 0px 10px 14px -7px #3b3a3b;
    color: white;
    margin-left: 100px;
    margin-bottom: 50px;
    padding: 20px 150px;
    top: 100%;

    font-size:20px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
}
.ins-btn:focus{
    outline:0;
    background-color: #111111;
}
.ins-btn:hover{
    background-color: #111111;
}
.card{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    margin-top: 10px;
    width: 300px;
    margin-left: 20px;
    float:left;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


.card-text{
    color: #FFFFFF;
    padding: 10px;
    background-color: #444444;
    height: 20px;
    text-align: left;  
}


p{
    background-color: #444444;
    box-shadow: 0px 10px 14px -7px #3b3a3b;
    color: white;
    display: block;
    padding: 13px 32px;
    text-align: center;
    width: 280px;

}

.show-detail{
    background-color: #222222;
    box-shadow: 0px 10px 14px -7px #3b3a3b;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size:16px;
	font-weight:bold;
    position: relative;
    padding: 20px;
    display: block;
    width: 300px;
    outline:none;
    border:0;

}
.show-detail a{
    text-decoration: none;
    color:white;
}
.show-detail:hover{
    background-color: #111111;
}
img{
    border-radius: 15px 15px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

#delete-button{
    background-color: #222222;
    box-shadow: 0px 10px 14px -7px #3b3a3b;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size:16px;
	font-weight:bold;
    position: relative;
    padding: 20px;
    display: block;
    width: 300px;
    outline:none;
    border:0;
    

}
#delete-button a{
    text-decoration: none;
    color:white;
}
#delete-button:hover{
    background-color: #111111;
}



#checkout button{
	box-shadow: 0px 10px 14px -7px #3b3a3b;
	background-color:#313233;
	cursor:pointer;
    color:#ffffff;
    display: inline-block;
	font-size:20px;
	font-weight:bold;
    padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    background-color:#292729;
    border-color: #3333
    
}
#moveRight{
    text-align: right;
}
#checkout button:hover{
    background-color: #111;
    border-color: #111
}
.lead{
    background-color: #444444;
    box-shadow: 0px 10px 14px -7px #3b3a3b;
    color: white;
    display: inline-block;
    padding: 13px 32px;
    text-align: center;
    width: 280px;
}


span{
    background-color: #444444;
    box-shadow: 0px 10px 14px -7px #3b3a3b;
    color: white;
    display:block;
    top:100%;
    padding: 15px 32px;
    text-align: center;
    float: left;
    width: 280px;
}