<div class="container" id="buy-sell-selection">
    <h3>Hey {{ user.firstName }}, what are you doing today?</h3>
    <br>
    <a class="btn btn-primary" id="buy" href="#">Buying</a>
    <a class="btn btn-primary" id ="sell" href="/seller_portal">Selling</a>
</div>