<link rel="stylesheet" type="text/css" href="/css/buy_sell-style.css">


    <h3>Hey {{ user.firstName }}, what are you doing today?</h3>
    <br>
    <div id="buy-sell-selection">
        <a class="btn btn-primary" id="buying" href="/buyer_portal">Buying</a>
        <a class="btn btn-primary" id ="selling" href="/seller_portal">Selling</a>
    </div>
