<link rel="stylesheet" type="text/css" href="/css/buyer-portal-style.css">
<div id="buyer-portal">
    <a class="btn btn-primary" href="/studio_listings_buyer">Browse Studios</a>
    <a class="btn btn-primary" href="/instrument_listings_buyer">Browse Instruments</a>
    <a class="btn btn-primary" href="/#">Shopping Cart</a>
</div>