
<div class="grid2x2">
  <div class="box">
      <a href="/studio_listings_buyer">Browse Studios</a>
  </div>
  <div class="box">
      <a href="/instrument_listings_buyer">Browse Instruments</a>
  </div>
  <div class="box">
      <a href="/#">Shopping Cart</a>
  </div>
</div>
