<!doctype html>

<html>
	<head>

		<title>Title</title>
	</head>

    <body>
        <div id = "content">
            {{!-- {{#if error}}
                <li>Error!</li>
            {{else}}
                <li>{{instrument.name}}</li>
            {{/if}} --}}
        </div>
    </body>

</html>

<script src="jquery-3.3.1.min.js">
    function getList () {
        $.ajax({
            method: "post",
            url: "/current_listings",
            success: function (err, data) {
                const div = document.getElementById("content");
                const list = docuemt.createElement("li");
                list.textContent = data.name;
                div.appendChild(list);
            }
        })
    }

    window.onload = getList;


</script>