<!DOCTYPE html>
<html>
<head>
    <title>Instrument Exchange</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Boogaloo|Cormorant+Garamond|Pacifico|Pontano+Sans|Neucha" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Instrument Exchange</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{#if isAuthenticated}}
                    <a class="nav-item nav-link" href="/seller_portal">Seller Portal</a>
                    <a class="nav-item nav-link" href="/buyer_portal">Buyer Portal</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                {{else}}
                    <a class="nav-item nav-link" href="/register">Register</a>
                    <a class="nav-item nav-link" href="/login">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>

  {{{body}}}

<!-- autocomplete api-->
<script type="text/javascript">
    function activateStudioLocation() {
        let locationInput = document.querySelector("#studio-location-input");
        let complete = new google.maps.places.Autocomplete(locationInput);
    }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr7hgVxpSfIc4kO_Rht_NmRtqRHbe56mM&libraries=places&callback=activateStudioLocation"></script>

</body>
