<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instrument Exchange</title>

    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/form-style.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-style.css">
</head>

<body>

<nav>
    <ul>
        <li><a class="navbar-brand" href="/">Instrument Exchange</a></li>
                {{#if isAuthenticated}}
                <div class="dropdown-seller">
                    <li><a class="nav-item nav-link" href="/seller_portal">Seller Portal</a></li>
                        <div class="dropdown-seller-content">
                            <a href="/current_listings">Current Listings</a>
                            <a href="/studio_list">List A Studio</a>
                            <a href="/instrument_list">List An Instrument</a>
                        </div>
                </div>
                    <div class="dropdown-buyer">
                    <li><a class="nav-item nav-link" href="/buyer_portal">Buyer Portal</a></li>
                        <div class="dropdown-buyer-content">
                            <a href="/studio_listings_buyer">Browse Studios</a>
                            <a href="/instrument_listings_buyer">Browse Instruments</a>
                            <a href="#">Shopping Cart</a>
                        </div>
                    </div>
                    <li><a class="nav-item nav-link" href="/profile">Profile</a></li>
                    <li><a class="nav-item nav-link" href="/shopping_cart">Shopping Cart</a></li>
                    <li id="logoutbtn"><a class="nav-item nav-link" href="/logout">Logout</a></li>

                {{else}}
                    <li><a class="nav-item nav-link" href="/register">Register</a></li>
                    <li><a class="nav-item nav-link" href="/login">Login</a></li>
                {{/if}}
    </ul>
</nav>

<div class="container">
    {{{body}}}
</div>


<script type="text/javascript" src="/javascript/moment.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- autocomplete api-->
<script type="text/javascript">
    function activateLocation() {
        let locationInput = document.querySelector(".location-input");
        let complete = new google.maps.places.Autocomplete(locationInput);
    }

</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr7hgVxpSfIc4kO_Rht_NmRtqRHbe56mM&libraries=places&callback=activateLocation"></script>

<!--location service script-->
<script type="text/javascript" src="/javascript/location_service.js"></script>
<!--for carousel-->
<script type="text/javascript" src="/javascript/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.image-carousel').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
    });
    });
</script>

<!--for date range picker-->
<script type="text/javascript" src="/javascript/jquery.daterangepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#listing-date-range').dateRangePicker({});
    });
</script>
</body>
</html>
