<div class="login-page">
  <div class="form">

{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
{{/if}}

<div class="container">
    <form method="post" action="/list_studio" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputName">Studio Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Studio Name">
        </div>

        <div class="form-group">
            <label for="exampleInputLocation">Studio Location</label>
            <input type="text" name="location" class="form-control location-input" placeholder="Enter Studio Location">
        </div>

        <div class="form-group">
            <label for="exampleInputPrice">Rental Price (Per day)</label>
            <input type="Number" name="rental_price" class="form-control" id="studio-rental-price" placeholder="Enter Rental Price">
        </div>

        <div class="form-group">
            <label for="exampleInputImages">Upload Images</label>
            <input type="file" name="studio_pictures" class="form-control" id="exampleInputImages" multiple>
        </div>

        <div class="form-group">
            <label for="exampleFormControlDescription">Please provide a description of your studio</label>
            <textarea class="form-control" name="description" id="exampleFormControlDescription" rows="3" cols="50"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    </form>
  </div>
</div>
