
<form method="post" action="/list_studio">

    <div class="form-group">
        <label for="exampleInputLocation">Studio Location</label>
        <input type="email" name="location" class="form-control" id="exampleInputLocation" aria-describedby="emailHelp" placeholder="Enter Studio Location">
    </div>

    <div class="form-group">
        <label for="exampleInputImages">Upload Images</label>
        <input type="file" name="studio-pictures" class="form-control" id="exampleInputImages">
    </div>

    <div class="form-group">
        <label for="exampleFormControlDescription">Please provide a description of your studio</label>
        <textarea class="form-control" name="description" id="exampleFormControlDescription" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>