


<div class="login-page">
  <div class="form">
   {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}

<div class="container">
    <form method="post" action="/list_instrument" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputInstrument">Instrument Name</label>
            <input type="text" name="name" class="form-control" id="instrument-name-input" placeholder="Enter Instrument">
        </div>

        <div class="form-group">
            <label for="exampleInputLocation">Instrument Location</label>
            <input type="text" name="location" class="form-control location-input" placeholder="Enter Studio Location">
        </div>

        <label for="exampleInputCategory">Instrument Category</label>
        <div class="form-group">
          <select name="chosenCategory">
            <option value="Brass">Brass</option>
            <option value="Percussion">Percussion</option>
            <option value="String">String</option>
            <option value="Synthesizer">Synthesizer</option>
            <option value="Woodwind">Woodwind</option>
          </select>
        </div>

        <div class="form-group">
            <label for="exampleInputWeight">Weight (in lbs)</label>
            <input type="Number" name="weight" class="form-control" id="instrument-weight-input" placeholder="Enter Weight">
        </div>

        <div class="form-group">
            <label for="exampleInputRentalPrice">Rental Price (Per day)</label>
            <input type="Number" name="rental_price" class="form-control" id="instrument-rental-price" placeholder="Enter Rental Price">
        </div>

        <div class="form-group">
            <label for="exampleInputPurchasePrice">Purchase Price</label>
            <input type="Number" name="purchase_price" class="form-control" id="instrument-purchase-price" placeholder="Enter Purchase Price">
        </div>

        <div class="form-group">
            <label for="exampleInputImages">Upload Images</label>
            <input type="file" name="instrument_pictures" class="form-control" id="exampleInputImages" multiple>
        </div>

        <div class="form-group">
            <label for="exampleFormControlDescription">Please provide a description of your instrument</label>
            <textarea class="form-control" name="description" id="exampleFormControlDescription" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    </form>
  </div>
</div>