<div class="container">
    <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Current Listings</a></li>
        <li><a href="/studio_list">List A Studio</a></li>
        <li><a href="#">List An Instrument</a></li>
    </ul>
</div>
