

<div class="grid2x2">
  <div class="box">
      <a href="/profile">Profile</a>
      </div>
  <div class="box">
      <a href="/studio_list">List A Studio</a>
  </div>
  <div class="box">
      <a href="/current_listings">Current Listings</a>
  </div>
  <div class="box">
      <a href="/instrument_list">List An Instrument
  </div>
</div>
