
<link rel="stylesheet" type="text/css" href="/css/seller-portal-style.css">
<div id="seller-portal">
      <a class="btn btn-primary" href="/studio_list">List A Studio</a>
      <a class="btn btn-primary" href="/current_listings">Current Listings</a>
      <a class="btn btn-primary" href="/instrument_list">List An Instrument</a>
</div>