<div class="container">
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/current_listings">Current Listings</a></li>
        <li><a href="/studio_list">List A Studio</a></li>
        <li><a href="/instrument_list">List An Instrument</a></li>
    </ul>
</div>
