<h1>My Shopping Cart</h1>

{{#if studios}}
  <div class="card-columns">
      {{#each studios}}
          <div class="card">
              <div class="card-body">
                  <h3 class="card-text">{{ this.name }}</h3>
              </div>
          </div>
      {{/each}}
  </div>
{{else}}
  <p class="lead">There are no studios in your cart.</p>
{{/if}}

{{#if instruments}}
<div class="card-columns">
    {{#each instruments}}
        <div class="card">
            <div class="card-body">
                <h3 class="card-text">{{ this.name }}</h3>
            </div>
        </div>
    {{/each}}
</div>
{{else}}
  <p class="lead">There are no instruments in your cart.</p>
{{/if}}

<!-- Button should lead to checkout page -->
<button type="button" class="btn btn-success">Check Out</button>
